
<!-- Panneau latéral -->
<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
           
            <div class="title-top">
                <span class="head">Salons</span>
                <span href="" class="label label-info">manage</span>
            </div>
            <div></div>
            <ul class="nav nav-sidebar">
                <li ng-repeat="salon in listSalon">
                    <a href="#/salon/{{salon.Nom}}">{{salon.Nom}}</a>
                </li>
            </ul>

            <div>
                <div class="title-top">
                    <span class="head">Contacts</span>
                    <span href="" class="label label-info">manage</span>
                </div>
                <div></div>
                <ul class="nav nav-sidebar">
                    <li ng-repeat="user in listUser">
                        <a href="#/salon/{{user.Prenom}}{{user.Nom}}">{{user.Prenom}} {{user.Nom}}</a>
                    </li>
                </ul>
            </div>

        </div>