html {
	/* Pour pouvoir placer le footer */
    position: relative;
    min-height: 100%;
	overflow-x:hidden;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 39px;
}

.navbar-icon img {
	height: 30px;
}
.navbar-nav .logo-profil {
	padding-bottom: 10px;
	padding-left: 15px;
	padding-top: 10px;
}

.navbar-nav .logo-profil img {
	height: 40px;
	width: 40px;
}

.room-member {
	height:20px;
	width:20px;
}
.circle {
	border-radius: 100%;
}
.nav>li.list-room-member{
	padding:20px 3px ;
}
.nav>li.list-room-member>img{
	display:block;
}

.nav>li.list-room-member>img:hover,.nav>li.list-room-member>img:focus{
	text-decoration:none;
	background-color:#eee
}


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}


/*
 * Sidebar
 */

.sidebar {
  display: block;
}
.navbar-fixed-top {
  border: 0;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 61px;
    bottom: 0;
    left: 0;
   /*  z-index: 1000; */
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
  }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > li > a > .badge {
	float: right;
}

.title-top {float: left;width: 100%;height:25px;}
.title-top span {font-size: 12px;text-transform: uppercase;font-weight: bold;}
.title-top .label{float:right;}
.title-top + div {height:20px;}

.nav-sidebar li:hover .sub-menu {
	visibility: visible;
}
.nav-sidebar li .sub-menu {
	background: #428bca;
	position:absolute;
	left:70%;
	top:0;
	visibility:hidden;
	z-index:1;
}
.nav-sidebar li .sub-menu li a {
	color: #fff;
}
.nav-sidebar li .sub-menu li:hover a {
	color: #009587;
}

/* corps de page */
.container-fluid {
  margin-top: 60px;
  padding-top: 20px;
}

/* pour le défilement correct des messages */
#main-container {padding-right:30px;margin-right:-20px!important;overflow-x:hidden;max-height:630px; overflow-y: auto;}
#main-container-salonUtilisateur{padding-right:20px;margin-right:-20px!important;overflow-x:hidden;max-height:614px; overflow-y: auto;}

.row-content .centerV:first-child {
	padding-top: 18px;
}
.separator {
    text-align: center;
    color: rgba(51,51,51,0.4);
}
.separator::before {
	float:left;
	content:"";
	margin-top: 10px;
	width:30%;
	border-top:1px rgba(0,0,0,0.1) solid;
}
.separator::after {
	float: right;
	content: "";
	margin-top: 10px;
	width:35%;
	border-top:1px rgba(0,0,0,0.1) solid;
}
.list-group-item .horodatage {
	position: absolute;
	color: rgba(51,51,51,0.4);
	font-size: 0.85em;
	bottom: 0;
	left: calc(50% - 15px);
	opacity:0;
    visibility: hidden;
	transition: opacity 0.3s ease;
}
.list-group-item:hover .horodatage {
	opacity:1;
    visibility: visible;
	transition-delay: 0.2s;
}

/* filtres */
.showFiltres, .filtres, .filtreDate {
    background-color:#82b1ff;
	position:absolute;
	text-align: center;
	top:-20px;
	left:0.5px;
	right:0px;
	height:30px;
	z-index:1000;
}
.showFiltres, #changeVue {
    cursor:pointer;
}
#changeVue {
	background-color:#82b1ff;
	position:absolute;
	text-align: center;
	bottom:49px;
	left:16.66667%;
	right:0px;
	height:20px;
	z-index:1000;
}
.filtres {
	top:10px;
	height: 50px;
}
.filtreDate {
	top:60px;
	height: 43px;
}

#searchSalon {
	background-color:#82b1ff;
	margin-left:10px;
	width: 200px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px rgba(0,0,0,0.84) solid;
}

/* Information Propriétaire salon */
.infos_nom {font-size:1.3em}
.infos_poste {font-size:1.2em}
.infos_photo {max-height:100px}

/* important */
.important {
	position: absolute;
	top: calc(50% - 8px);
	right: 0px;
}

/* non-important */

.non-important {
	position: absolute;
	top: calc(50% - 8px);
	right: 0px;
    visibility: hidden;
}
.list-group-item:hover .non-important {
    opacity: 0.4;
    visibility: visible;
}

.list-group-item:hover .non-important:hover {
    opacity: 0.7;
}

/* bouton suivre */
.togglebutton2{vertical-align:middle;}
.togglebutton2,.togglebutton2 *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.togglebutton2 label{font-weight:400;cursor:pointer}
.togglebutton2 label input[type=checkbox]:first-child{opacity:0;width:0;height:0}
.togglebutton2 label input[type=checkbox]:first-child:checked+.toggle2{background-color:#228B22}
.togglebutton2 label input[type=checkbox]:first-child:checked+.toggle2:after{background-color:#006400}
.togglebutton2 label .toggle2,.togglebutton2 label input[type="checkbox][disabled"]:first-child+.toggle2{content:"";display:inline-block;width:30px;height:15px;background-color:rgba(80,80,80,.7);border-radius:15px;margin-right:10px;-webkit-transition:background .3s ease;transition:background .3s ease;vertical-align:middle}
.togglebutton2 label .toggle2:after{content:"";display:inline-block;width:20px;height:20px;background-color:#f1f1f1;border-radius:20px;position:relative;box-shadow:0 1px 3px 1px rgba(0,0,0,.4);left:-5px;top:-2px;-webkit-transition:left .3s ease,background .3s ease,box-shadow .1s ease;transition:left .3s ease,background .3s ease,box-shadow .1s ease}
.togglebutton2 label input[type="checkbox][disabled"]:first-child+.toggle2:after,.togglebutton2 label input[type="checkbox][disabled"]:checked:first-child+.toggle2:after{background-color:#bdbdbd}
.togglebutton2 label input[type=checkbox]:first-child:checked~.toggle2:active:after{box-shadow:0 1px 3px 1px rgba(0,0,0,.4),0 0 0 15px rgba(0,149,135,.1)}
.togglebutton2 label input[type=checkbox]:first-child~.toggle2:active:after,.togglebutton2 label input[type="checkbox][disabled"]:first-child~.toggle2:active:after{box-shadow:0 1px 3px 1px rgba(0,0,0,.4),0 0 0 15px rgba(0,0,0,.1)}
.togglebutton2 label input[type=checkbox]:first-child:checked+.toggle2:after{left:15px}


/* Page perso */
.cadre{
	float:left;
	margin-left:2%;
	display:block;
}

#profil {
	display:block;
	background: url(./../img/profilBase.GIF);
	width: 119px;
	height: 150px;
	border: solid 1px black;
	text-align: center;
	font-size: 1.2em;
	color: white;
}
#suivre{
	display:block;
	width:119px;
	margin-top:1px;
	clear:both;
	height:30px;
	background-color:white;
	border:solid 1px black;
}


#infos {
	background-color: white;
	overflow: hidden;
	float:left;
	display:none;
	width: 400px;
	height: 184px;
	font-size: 1.2em;
}
#form{
	background-color: white;
	margin:3%;
	font-size: 1em;
}

.nom {
	display:block;	
	margin :2%;
	position:relative;
	color:Black;
}


.modifInfos {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 5px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.modifInfos:visited {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 5px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.modifInfos:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
	color:#ffffff;
}
.modifInfos:active {
	position:relative;
	top:1px;
}

/* footer */

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* fin footer */

@media (max-width:1200px) {
.nav>li.list-room-member{
	padding:15px 3px ;
}
.navbar-nav .logo-profil img {
	height: 30px;
	width: 30px;
}
}