
<div ng-include="'Vues/Elements/barreMenu.html'"></div>
<div ng-include="'Vues/Elements/voletMenu.html'"></div>

<div style="padding-left: 20%">

    <h3>Signaler un problème</h3>

    <form id="modifUserForm" class="form-horizontal" role="form" ng-submit="ajouterProbleme()">

        <div style="margin-bottom: 25px; margin-right: 25px" class="input-group">
            <span>Problème en cours de traitement : </span><br /><br />
                <span ng-repeat="probleme in listProbleme">
                    -> {{probleme}}<br />
                </span><br />
            <textarea id="user-probleme" type="text" name="decription" value="" placeholder="Description" ng-model="description" style="width: 600px; height: 200px;" />
        </div>

        <div style="margin-top:10px" class="form-group">
            <!-- Button -->
            <div class="col-sm-12 controls">
                <input id="btn-login" style="float:right; margin:-55px 50px 10px 0;" class="btn btn-info" type="submit" value="Enregistré" />
            </div>
        </div>
    </form>

</div>